<table mat-table [dataSource]="dataSource" style="width:100%">


  <ng-container matColumnDef="taskNumber">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.taskNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="TaskName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.TaskName}} </td>
  </ng-container>

  <ng-container matColumnDef="StatusId">
    <th mat-header-cell *matHeaderCellDef> StatusId </th>
    <td mat-cell *matCellDef="let element"> {{element.StatusId}} </td>
  </ng-container>


  <ng-container matColumnDef="DueDate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.DueDate}} </td>
  </ng-container>

  <ng-container matColumnDef="EmployeeName">
    <th mat-header-cell *matHeaderCellDef> Employee </th>
    <td mat-cell *matCellDef="let element"> {{element.EmployeeName}} </td>
  </ng-container>

  <ng-container matColumnDef="DepartmentID">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let element"> {{element.DepartmentID}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{dueDate:DueDate(row)}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,5,15, 20,35]"
showFirstLastButtons>
</mat-paginator>
